<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{site/HomeLayout.html}">
   

<head>

 
</head>

<body>
   <main layout:fragment="content">


    
    <section class="blog-header" >     
        <h4>#Bolg Shop</h4>
        <span>LUNA20 <span>Giảm 20k</span> cho đơn hàng đầu tiên</span>
    </section>
    <section id="blog">
        <div class="blog-box">
            <div class="box-img">
                <img src="images/blog1.png" alt="">
            </div>
            <div class="blog-details">
                <h4>Retro style là gì? Xu hướng thời trang Retro 2023</h4>
                <p>Bên cạnh những phong cách thời trang nổi bật như Vintage hay Classic thì Retro Style cũng là một xu hướng mới mẻ trong năm nay. </p>
                 
                <a href="">CONTINUE READING</a> 
               
         <div class="icon">
            <i class="fa fa-thumbs-up"></i>
            <i class="fa-solid fa-thumbs-down"></i>
         </div>

                 
            </div>
            <h1>26/05</h1>

        </div>
        <div class="blog-box">
            <div class="box-img">
                <img src="images/blog2.png" alt="">
            </div>
            <div class="blog-details">
                <h4>Retro style là gì? Xu hướng thời trang Retro 2023</h4>
                <p>Bên cạnh những phong cách thời trang nổi bật như Vintage hay Classic thì Retro Style cũng là một xu hướng mới mẻ trong năm nay. </p>
                 
                <a href="">CONTINUE READING</a> 
               
         <div class="icon">
            <i class="fa fa-thumbs-up"></i>
            <i class="fa-solid fa-thumbs-down"></i>
         </div>

                 
            </div>
            <h1>26/05</h1>

        </div>
        <div class="blog-box">
            <div class="box-img">
                <img src="images/blog2.png" alt="">
            </div>
            <div class="blog-details">
                <h4>Retro style là gì? Xu hướng thời trang Retro 2023</h4>
                <p>Bên cạnh những phong cách thời trang nổi bật như Vintage hay Classic thì Retro Style cũng là một xu hướng mới mẻ trong năm nay. </p>
                 
                <a href="">CONTINUE READING</a> 
               
         <div class="icon">
            <i class="fa fa-thumbs-up"></i>
            <i class="fa-solid fa-thumbs-down"></i>
         </div>

                 
            </div>
            <h1>26/05</h1>

        </div>

    </section>
    <section id="pagination" class="section-p1" >
        <ul class="pagination justify-content-center">
            <li> <a href="#">1</a></li>
      
            <li> <a href="#">2</a></li>
            <li><a href="#"> <i class="fa-solid fa-arrow-right"></i></a> 
            </li>
  
       </ul>
    
    
    </section>
  
    
    
   </main>


    
</body>
</html>