<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout">

<head>

<body>

    <footer  class="section-p1"   th:fragment="fooder">

            <div class="col img1">
              <img src="images/logo.png" alt="">
              <h2>Contact</h2>
              <p><strong>Address:</strong> 122 nguyễn thị Thập, liên chiếu đà nẵng</p>
              <p><strong>Phone:</strong> +03952754973</p>
              <p><strong>Hours:</strong> 12, 34</p>
              <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-pinterest-p"></i>
                  <i class="fab fa-youtube"></i>
                </div>
              </div>
            </div>
        
            <div class="col">
              <h4>About</h4>
              <a href="">About Us</a>
              <a href="">About Us</a>
              <a href="">About Us</a>
              <a href="">About Us</a>
              <a href="">Contact Us</a>
            </div>
            <div class="col">
              <h4>My Account</h4>
              <a href="">Sign In</a>
              <a href="">View cart</a>
              <a href="">My Wishlist</a>
              <a href="">Track My Order</a>
              <a href="">Help</a>
            </div>
        
            <div class="col install">
              <h4>Install App</h4>
              <p>From App Store or Google Play</p>
              <div class="row">
                <img src="images/pay/app.jpg" alt="">
                <img src="images/pay/play.jpg" alt="">
              </div>
              <p>Secured Payment Gateways</p>
              <img src="images/pay/pay.png" alt="">
            </div>
       
     
            
    
    </footer>
    
</body>
</html>