<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashboardLayout.html}">
   

<head>

 <base href="/">
</head>

<body>
    <!-- #main -->

    <main id="main" class="main" layout:fragment="content">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products Lists</h5>
              <div class="container mt-2">
                <div th:if="${message != null}" class="alert alert-primary text-center">
                  <i>[[${message}]]</i>
                  </div>
                  <div class="row mt-3">
                    	
							<div class="col-lg-2">
							<form action="">
								<table>Page Size
								</table>
								<select class="form-select" aria-label="Default select example"
									name="size" id="size" onchange="this.form.submit()">
									<option th:selected="${productPage.size==5}" value="5">5</option>
									<option th:selected="${productPage.size==10}" value="10">10</option>
									<option th:selected="${productPage.size==15}" value="15">15</option>
									<option th:selected="${productPage.size==20}" value="20">20</option>
								</select>
								</form>
							</div>
						
                   
                        <div class="col-lg-4 offset-6">
                        <form th:action="@{/admin/products/page}">
                        <div class="input-group">
                       <div class="form-outline">
                            
                            <input type="search" name="search" class="form-control" placeholder="Type Search" aria-label="Search"/>
              
                        </div>
                         <button type="submit" class="btn btn-outline-secondary btn-rounded" data-mdb-ripple-color="dark">
                               <i class="fa-solid fa-magnifying-glass"></i>
                         </button>
                        </div>
                           </form>
                        
                      
                          	<div class="mt-4">
						<form th:action="@{/admin/products/add}" >
							<button type="submit" class="btn btn-outline-info"
								style="font-size: 15px; font-family: 700;">
								Add New Category <i class="fa fa-newspaper"></i>
							</button>

						</form>
					</div> 
                       
                       </div> 
                  </div>
                  <div class="row d-flex justify-content-center">
                     <ul style="font-size: 50px;">
                      <i class="fa fa-file-excel"></i>
                      <i class="fa-sharp fa-solid fa-file-pdf"></i>
                      <i class="fa-solid fa-file-word"></i>
                     </ul>
                  </div>
                  
                  <table class="table align-middle mb-0 bg-white mt-2">
                    <thead class="bg-light">
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Discount</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item ,iStart : ${productPage.content}">
                        <td>
                          <div class="d-flex align-items-center">
                                   <img th:src="${'/admin/products/images/' + item.image}" style="width: 45px; height: 45px" class="rounded-circle" />
                                     
                          </div>
                        </td>
                        <td>
                          <p class="fw-normal mb-1" th:text="${item.name}"></p>
    
                        </td>
                        <td>
                          <p class="fw-normal mb-1" th:text="${item.quantity}"></p>
    
                        </td>
                        <td>
                          <p class="fw-normal mb-1" th:text="${item.untiPrice}"></p>
    
                        </td>
                        <td th:text="${item.discount}"></td>

                         <td th:text="${item.enterdDate}"></td>
                        <td>
                          <p class="fw-normal mb-1" th:text="${item.status}"></p>
    
                        </td>
                        <td>
                          <p class="fw-normal mb-1" th:text="${item.Category.name}"></p>
    
                        </td>
    
                      	<td><a th:href="@{'/admin/products/view'+ ${item.productId}}" class="btn  btn-sm btn-rounded" style="text-decoration: none;">
										<i class="fa-solid fa-info"></i>
								</a>
								 <a th:href="@{'/admin/products/edit/'+${item.productId}}" class="btn  btn-sm btn-rounded" style="text-decoration: none;">
										<i class="fa-solid fa-pen"></i>
								</a> <a
									th:attr="data-id=${item.productId}, data-name=${item.name}"
									onclick="showConfirmModalDiaLog(this.getAttribute('data-id'),this.getAttribute('data-name'))"
									class="btn btn-sm btn-rounded" style="text-decoration: none;">
										<i class="fa-sharp fa-solid fa-trash"></i>
								</a></td>
                      </tr>
    
                    </tbody>
                  </table>
                   <script>
                       function showConfirmModalDiaLog(id, name) {
                                $('#productName').text(name);
                                 $('#yesOption').attr('href', '/admin/products/delete/' + id);
                                 $('#confirmationId').modal('show');
}
                  </script>
					<div class="modal fade" id="confirmationId" tabindex="-1"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title text-center" id="exampleModalLabel" style="color: red; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 30px;">Confirmation</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
								</div>
								<div class="modal-body" style="color: blue; font-size: 17px;">
									Do you want to delete "<span id="productName" style="color: red;"> </span>" ?</div>
								<div class="modal-footer">
									<a id="yesOption" type="button" class="btn btn-danger">Yes</a>
									<a type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">No</a>

								</div>
							</div>
						</div>
					</div>

					<div class="row">
                    <div class="col-md-9 pt-2">
                      <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                        Showing <span th:text="${productPage.numberOfElements}"></span> of <span th:text="${productPage.totalElements}"></span> entries
                      </div>
                    </div>
						<div class=" col-md-3 pt-2 ">
							<div class="dataTables_paginate paging_simple_numbers"
								id="dataTable_paginate" th:if="${productPage.totalPages > 0}">
								<ul class="pagination">
									<li
										th:class="${productPage.first} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/products/page(size=${productPage.size},page=${0})}">First</a>
									</li>
									<li
										th:class="${productPage.first} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/products/page(size=${productPage.size},page=${productPage.number -1})}">Pre</a>
									</li>
									<li
										th:class="${productPage.last} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/products/page(size=${productPage.size},page=${productPage.number} +1)}">Next</a>
									</li>
									<li
										th:class="${productPage.last} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/products/page(size=,page=${productPage.totalPages}-1)}">Last</a>
									</li>
									
								</ul>
								<ul>
								<li class="page-item">
                                          <span class="page-link" th:text="'Page ' + (${productPage.number + 1}) + ' of ' + ${productPage.totalPages}"></span>
                              </li>
								
								</ul>

							</div>
						</div>
			
                    
                  </div>
      
                </div>
      
              
            </div>
          </div>
        
    
    
    
      </main><!-- End #main -->


    
</body>
</html>