<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ShopJop</title>

  <!-- Favicons -->


  <!-- Google Fonts -->
<!-- Google Fonts -->

<!-- Vendor CSS Files -->
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Template Main CSS File -->
<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
  <!-- Thư viện CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

<!-- Thư viện JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

</head>
 <base href="/">

<body>
<div class="container-fluid">

  <!-- ======= Header ======= -->
  <header id="header" th:replace="site/fragments/header:: header">
  

  </header><!-- End Header -->


  <!-- ======= Sidebar ======= -->
  <!-- <section id="side"  th:replace="site/fragments/side :: side">


  </section>  End Sidebar -->

  <main layout:fragment="content">
		




		</main><!-- End #main -->
		

  <!-- ======= Footer ======= -->
  <footer class="section-p1" th:replace="site/fragments/fooder :: fooder">

  </footer><!-- End Footer -->
  	<script th:inline="javascript">
				var error = /*[[${error}]]*/null;
				var message = /*[[${message}]]*/null;

				if (error) {
					Swal.fire({
						icon : 'error',
						title : 'Lỗi',
						text : error
					});
				} else if (message) {
					Swal.fire({
						icon : 'success',
						title : 'Thông Báo',
						text : message
					});
				}
	</script>
  



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
      <script th:src="@{/js/srcipt.js}"></script>
    

 
</body>

</html>



