<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">


<head>

<base href="/">
</head>

<body>


	<!-- #main -->

	<main id="main" class="main" layout:fragment="content">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Tất Cả Hóa Đơn</h5>
				<div class="container mt-5">

                    
					<div class="row" th:if="${!orderPage.hasContent()}">
						<div class="col">
							<div class="alert alert-danger">
								<strong>No Account Found </strong>
							</div>

						</div>

					</div>
		
					<div class="row mt-3">
						<form action="">
							<div class="col-lg-2">
								<table>Page Size
								</table>
								<select class="form-select" aria-label="Default select example"
									name="size" id="size" onchange="this.form.submit()">
									<option th:selected="${orderPage.size==5}" value="5">5</option>
									<option th:selected="${orderPage.size==10}" value="10">10</option>
									<option th:selected="${orderPage.size==15}" value="15">15</option>
									<option th:selected="${orderPage.size==20}" value="20">20</option>

								</select>
							</div>


						</form>
					</div>


					<table class="table align-middle mb-0 bg-white mt-2" th:if="${orderPage.hasContent()}" >
						<thead class="bg-light">
							
                                <tr>
                                    <th>#ID</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                    <th>Order_date</th>
                                    <th>Status</th>
                                    <th>&nbsp;</th>
                                  </tr>
								
							
						</thead>
						<tbody>
							
							<tr th:each="order ,iStat : ${orderPage.content}">
								<td>
									<p class="fw-normal mb-1" th:text="${order.orderId}"></p>

								</td>

								<td>
									<p class="fw-normal mb-1" th:text="${order.customer.fullname}"></p>

								</td>
								<td>
									<p class="fw-normal mb-1" th:text="${order.amount}"></p>

								</td>
								<td>
									<p class="fw-normal mb-1" th:text="${order.orderDate}"></p>

								</td>
                                
                                    <td>
                                        <select id="inputState" class="form-select" disabled style="width: 200px;">
                                            <option value="0" th:selected="${order.status == 0}">Chờ Xác Nhận</option>
                                            <option value="1" th:selected="${order.status == 1}">Đã Xác Nhận</option>
                                            <option value="2" th:selected="${order.status == 2}">Vẫn Chuyển</option>
                                            <option value="3" th:selected="${order.status == 3}">Hoàn Thành</option>
                                            
                                        </select>
                                    </td>

								
                               
								<td><a
									th:href="@{'/admin/orders/view'+ ${order.orderId}}"
									class="btn  btn-sm btn-rounded" style="text-decoration: none;">
										<i class="fa-solid fa-info"></i>
								</a> <a
									th:href="@{'/admin/orders/delete/'+${order.orderId}}"
									class="btn  btn-sm btn-rounded" style="text-decoration: none;">
										<i class="fa-sharp fa-solid fa-trash"></i>
								</a></td>
							</tr>

						</tbody>
					</table>
				   
					<div class="row">

						<div class=" col-md-3 pt-2 ">
							<div class="dataTables_paginate paging_simple_numbers"
								id="dataTable_paginate" th:if="${orderPage.totalPages > 0}">
								<ul class="pagination">
									<li
										th:class="${orderPage.first} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/orders/page(size=${orderPage.size},page=${0})}">First</a>
									</li>
									<li
										th:class="${orderPage.first} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/orders/page(size=${orderPage.size},page=${orderPage.number -1})}">Pre</a>
									</li>
									<li
										th:class="${orderPage.last} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/orders/page(size=${orderPage.size},page=${orderPage.number} +1)}">Next</a>
									</li>
									<li
										th:class="${orderPage.last} ? 'page-item disabled' : 'page-item'">
										<a aria-controls="dataTable" data-dt-idx="0" tabindex="0"
										class="page-link"
										th:href="@{/admin/orders/page(size=${orderPage.size},page=${orderPage.totalPages}-1)}">Last</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
					 
				</div>
			</div>
		</div>

	</main>
	<!-- End #main -->



</body>
</html>